button{
    cursor: pointer;
}
.addButton{
    width: 400px;
    height: 60px;
    background: rgb(117, 117, 207);
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 0;
}
.addButton:hover{
    background: rgb(69, 69, 163);
}
.removeAll{
    width: 150px;
    height: 50px;
    background: rgb(230, 62, 62);
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 0;
}
.removeAll:hover{
    background: rgba(160, 16, 16, 0.85);
}
.doneButton{
    background-color: rgb(119, 233, 130);
}
.doneButton:hover{
    background-color: rgb(86, 186, 96);
}
.deleteButton{
    background-color: rgb(212, 61, 61);
}
.deleteButton:hover{
    background-color: rgb(172, 61, 61);
}
.editButton:hover{
    background-color: gray;
}
.doneButton, .deleteButton, .editButton{
    margin-right: 2px;
    width: 60px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;   
    margin: 5px;
    cursor: pointer;
}