.pokemon{
    width: 120px;
    height: 180px;
    background-color: rgb(108, 160, 160);
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}